body {
	font-family: Tahoma, sans-serif;
	background: #000000;
}
header {
	background-color: #000000;
	min-width: 100%;
	height: 150px;
}
.title {
	font-size: 24px;
	line-height: 30px;
	color: #ffcc00;
	font-weight: bold;
}
.logo {
	padding-left: 65px;
	padding-top: 20px;
	float: left;
}
.instructions{
	float: right;
	font-size: 18px;
	line-height: 26px;	
	color: #ffcc00;
	padding-right: 15px;
	padding-top: 25px;
}
.main {
	background-image:url("../images/background.gif");
	background-size: 1100px 500px;
	padding-left: 100px;
	min-width: 1000px;
	height: 500px;
}
.ryu {
	float: left;
}
.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: 475px;
	float:left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready{
background-image: url("../images/ryu-ready-position.gif");
}
.ryu-still{
background-image: url("../images/ryu-standing-still.png");
}
.ryu-throwing{
background-image: url("../images/ryu-throwing-hadouken.png");
}
.ryu-cool{
background-image: url("../images/ryu-cool.gif");
}
.hadouken, .ryu-still, .ryu-ready, .ryu-throwing {
	background-repeat: no-repeat;
}




